# See http://www.appveyor.com/docs/appveyor-yml for many more options

#Publish to PowerShell Gallery with this key
# environment:
#  NuGetApiKey:
#    secure: #INTENTIONALLY_BLANK

#write back to github after creating documents
environment:
  my_variable:
    secure: G7zYPpA2a0oPiWx/7R1TJcTSspOKXG8atdzyiEWoPse+JOzKLbW+OLYIPCDvTXTm


# Allow WMF5 (i.e. PowerShellGallery functionality)
os: WMF 5
version: 1.0.{build}


# Skip on updates to the readme.
# We can force this by adding [skip ci] or [ci skip] anywhere in commit message
skip_commits:
  message: /updated readme.*|update readme.*s/

install:
  - cinst pester

build: false

#Kick off the CI/CD pipeline
test_script:
- ps: . .\Tests\PSLogging.Tests.ps1